.cliker1{
	background-color: #32CD32;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
.cliker2{
	background-color: #ff6347;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 10px;
	margin: 10px;
	text-align: center;
}
.cliker span{
	color: #fff;
	font-size: 22px;
	margin-top: 5px;
}

footer{
	text-align: right;
}











































//Original BlasQuintana